#DES {

    position: relative;
    left: 50%;
    top: 110px;
    background: #303030;
    width: 80%;
    height: 330px;
    color: #1aa7ec;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
}

#heading {
    position: relative;
    top: 15%;
    left: 8%;
}
::placeholder{
    color: aliceblue;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input {
    color: aliceblue;
    background-color: #303030;
    border: none;
    height: 23px;
    font-size: 20px;
}
input:focus {
    outline: none;
    border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#Subject {
    position: relative;
    left: 50%;
    bottom: 46%;
}
hr {
    right: 35%;
    position: relative;
    color: #1aa7ec;
    width: 30%;
}
button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #1aa7ec;
    border-color: #303030;
    border: none;
    background: #303030;
    transition: none;
    transition: 0.3s;
}
button:active{
    border-style: outset;
}
button:hover{
    font-size: 23px;
}
#Grades {
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    float: left;
    position: relative;
    bottom : 42%;
    left: 8%;
}
#per {
    text-align: right;
    position: relative;
    bottom: 40px;
}
#pas {
    text-align: center;
    position: relative;
    bottom: 55px;
}